Thumbs.db
*.dmg
*.userprefs
*.obj
*.exe
!libs/chromedriver.exe
*.exe.config
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
.vs/
setup/*.tar.gz
setup/*.zip
setup/*.zip.tmp
setup/Wexflow.app/
*.nupkg
Wexflow_coverage.xml