body {
    background: #FFFFFF;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.jq-toast-single {
    width: 300px;
}

#header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 43px;
    background: #29A85C;
    color: #FFFFFF;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

    #header a {
        color: #FFFFFF;
        font-size: 12px;
        margin: 20px;
        float: left;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
        line-height: 5px;
        white-space: nowrap;
    }

    #header .header-right {
        float: right;
    }

    #header #lnk-manager, #lnk-designer, #lnk-editor, #lnk-approval, #lnk-users, #lnk-profiles {
        display: none;
    }


#wf-approval{
	position: absolute; 
	top: 45px; 
	right:0; 
	bottom:0; 
	left:0;
    display: none;
}

#wf-container
{
    position: relative;
    min-width: 600px;
    min-height: 400px;
    width: 100%;
    height: 100%;
}

#wf-cmd
{
    position: absolute;
    top: 10px;
    right: 10px;
}
#wf-cmd button
{
    margin-right: 5px;
    width: 70px;
}

#wf-notifier
{
    position: absolute;
    top: 50px;
    right: 10px;
    left: 10px;
}

#wf-notifier #wf-notifier-text
{
    width: 100%;
}

#wf-search {
    position: absolute;
    top: 90px;
    right: 10px;
    left: 10px;
}

    #wf-search #wf-search-text-container {
        position: absolute;
        right: 75px;
        left: 0;
    }
        #wf-search #wf-search-text-container #wf-search-text {
            width: 100%;
        }

    #wf-search #wf-search-action {
        position: absolute;
        right: 0px;
        width: 70px;
    }

#wf-workflows {
    position: absolute;
    top: 125px;
    bottom: 0;
    right: 10px;
    left: 10px;
    overflow: auto;
}

/* start of table style */

#wf-workflows .thead-dark {
    background: #272727;
    color: #EEEEEE;
}

#wf-workflows tbody tr:hover{
    background: #EEEEEE;
}

#wf-workflows #wf-workflows-table .wf-id
{
    width: 45px;    
}

#wf-workflows #wf-workflows-table .wf-n
{
    width: 200px;    
}

#wf-workflows #wf-workflows-table .wf-lt
{
    width: 100px;    
}

#wf-workflows #wf-workflows-table .wf-e
{
    width: 75px;
}

#wf-workflows #wf-workflows-table tbody tr:hover
{
    cursor: pointer;
}

#wf-workflows #wf-workflows-table .selected, #wf-workflows #wf-workflows-table .selected:hover
{
    background-color: #ffb347;
}

/*end of table style*/