body{
	background: #EDF1F5;
}

#header{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 90px;
	background: #29A85C;
	color: #FFFFFF;
}

#header a{
	color: #FFFFFF;
	font-size: 25px;
	margin: 20px;
	float: left;
}

#header .header-right{
	float: right;
}

#header #lnk-manager, #lnk-designer, #lnk-users {
    display: none;
}

#status {
    position: absolute;
    top: 130px;
    left: 20px;
    display: none;
}

#status div{
	float: left;
	width: 150px;
	margin-right: 10px;
	background: #FFFFFF;
}

#status table{
	float: right;
}

#status .status-value{
	font-weight: bold;
	font-size: 23px;
}

#entries-action{
	position: absolute;
    top: 280px;
    right: 0;
    left: 5px;
}

#entries-action label{
	font-weight: bold;
}

#entries-action .action-right{
	float: right;
}

#entries-action #btn-search{
	margin-right: 10px;
    margin-left: 5px;
}

    #entries-action #txt-from, #txt-to {
        width: 120px;
        margin-right: 15px;
        margin-left: 5px;
    }

#entries {
    position: absolute;
    top: 320px;
    right: 0;
    left: 10px;
    bottom: 0;
    overflow: auto;
    display: none;
}

#entries #entries-table .status
{
    width: 95px;
}

#entries #entries-table .date {
    width: 120px;
}

#entries #entries-table .id
{
    width: 45px;    
}

#entries #entries-table .name
{
    width: 200px;    
}

#entries #entries-table .lt
{
    width: 100px;    
}

#entries #entries-table .desc
{
    width: 200px;    
}

#entries #entries-table tr:hover {
    cursor: default;
}

#entries #entries-table th:hover {
    cursor: pointer;
}

#entries #entries-table .selected, #entries #entries-table .selected:hover
{
    background-color: #ffb347;
}

#entries-table img {
    margin-right: 10px;
}