
body {
    background: #FFFFFF;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.jq-toast-single {
    width: 300px;
}

#header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 43px;
    background: #29A85C;
    color: #878787;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#header a {
    color: #FFFFFF;
    font-size: 12px;
    margin: 20px;
    float: left;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    line-height: 5px;
    white-space: nowrap;
}

#header .header-right {
    float: right;
}


#login {
    width: 460px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -180px;
    margin-left: -230px;
}

.field-icon {
    float: right;
    /*margin-left: -25px;*/
    margin-top: -25px;
    position: relative;
    margin-right: 7px;
    z-index: 2;
}

.icon-right {
    margin-left: 6px;
    margin-top: 15px;
    position: absolute;
    z-index: 2;
}

.form-wrapper-outer {
    padding: 30px;
    margin: auto;
    width: 460px;
    margin-top: 7%;
    /*border: 1px solid #DADCE0;
    border-radius: 8px;*/
}

.form-greeting {
    text-align: center;
    font-size: 25px;
    margin-bottom: 35px;
}

.form-button {
    text-align: right;
    padding-bottom: 20px;
}

#btn-login {
    float:right;
}
#forgot-password{
    float:left;
}

.field-wrapper {
    position: relative;
    margin-bottom: 15px;
}

    .field-wrapper input {
        border: 1px solid #DADCE0;
        padding: 10px 10px 10px 20px;
        border-radius: 4px;
        width: 100%;
    }

    .field-wrapper .field-placeholder {
        font-size: 12px;
        position: absolute;
        bottom: 8px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: #80868b;
        left: 8px;
        padding: 0 8px;
        -webkit-transition: transform 150ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
        transition: transform 150ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
        z-index: 1;
        text-align: left;
        width: 100%;
    }

        .field-wrapper .field-placeholder span {
            background: #ffffff;
            padding: 0px 8px;
        }

    .field-wrapper input:not([disabled]):focus ~ .field-placeholder {
        color: #1A73E8;
    }

    .field-wrapper input:not([disabled]):focus ~ .field-placeholder,
    .field-wrapper.hasValue input:not([disabled]) ~ .field-placeholder {
        -webkit-transform: scale(.75) translateY(-39px) translateX(-60px);
        transform: scale(.75) translateY(-39px) translateX(-60px);
    } 