#header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 90px;
    background: #29A85C;
    color: #FFFFFF;
}

#header a{
    color: #FFFFFF;
    font-size: 25px;
    margin: 20px;
    float: left;
}

#header .header-right{
    float: right;
}

#header #lnk-manager, #lnk-designer, #lnk-users {
    display: none;
}

#users {
    position: absolute;
    top: 95px;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

#users-search {
    margin-bottom: 10px;
}

    #users-search #users-search-action {
        margin-top: -5px;
        margin-left: 5px;
        width: 75px;
    }

    #users-search #users-search-text {
        margin-left: 10px;
        width: 250px;
    }

#users-container {
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 0;
    width: 360px;
}

#users-table {
    position: absolute;
    top: 38px;
    left: 10px;
    bottom: 0;
    width: 340px;
    overflow: auto;
}

#users-table #wf-users-table tbody tr:hover {
    cursor: pointer;
}

#users-table #wf-users-table .selected, #users-table #wf-users-table .selected:hover {
    background-color: #ffb347;
}

    #users-table #wf-users-table #th-username {
        cursor: pointer;
    }

    #users-table #wf-users-table #th-id, #users-table #wf-users-table .userid {
        display: none;
    }


#right-panel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 360px;
}

    #right-panel #new-user-action, #save-action, #delete-action {
        margin-top: 9px;
        width: 75px;
    }

    #right-panel .action-right {
        float: right;
    }

    #right-panel #save-action, #delete-action {
        margin-right: 10px;
    }

#user-profile {
    position: absolute;
    top: 100px;
    right: 0;
    left: -9px;
    background: #EDF1F5;
    padding: 30px;
    display: none;
}

#user-profile label {
    font-weight: bold;
}

    #user-profile input[type=text], #user-profile input[type=password] {
        width: 250px;
    }

#user-actions {
    position: absolute;
    right: 0;
    top: 0px;
    display: none;
}

.username-td {
    width: 145px;
}

#old-password-tr, #new-password-tr, #confirm-password-tr {
    display: none;
}