version: 2
jobs:
  build:
    working_directory: ~/code
    docker:
      - image: circleci/android:api-25-alpha
    environment:
      JVM_OPTS: -Xmx4G
    steps:
      - checkout
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies
      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      #- run:
      #    name: Run Tests
      #    command: ./gradlew lint test
      #- store_test_results:
      #          path: app/build/test-results
      #          destination: test-results/
      - run:
          name: Build
          command: ./gradlew clean build
      - store_artifacts:
          path: app/build/outputs/apk/
          destination: apks/