<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connectionString" value="Filename=C:\Wexflow\Database\Wexflow.db; Connection=direct"/>
    <add key="workflowsFolder" value="..\..\..\..\..\samples\workflows\dotnet"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>