#header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 90px;
    background: #29A85C;
    color: #FFFFFF;
}

#header a {
    color: #FFFFFF;
    font-size: 25px;
    margin: 20px;
    float: left;
}

#header .header-right {
    float: right;
}

#container{
    width: 280px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -120px;
    margin-left: -120px;
}

    #container label {
        font-weight: bold;
    }

    #container input[type=text] {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 3px;
        width: 170px;
    }